.article {
    min-width: clamp(250px, 95vw, 500px);
    height: clamp(120px, 25vh, 400px);
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.article:nth-child(1){
    margin-left: 0;
}
.article:nth-last-child(-n+1){
    margin-right: 0;
}
.newsItem {
    width: clamp(200px, 95vw, 500px);
    height: clamp(60px, 15vh, 200px);
}
.newsItem1 {
    width: clamp(200px, 90vw, 500px);
    height: clamp(60px, 15vh, 200px);
}

.articleImg {
    width: clamp(40px, 90%, 80px);
    height: clamp(40px, 90%, 80px);
}

.articleText {
    height: clamp(40px, 100%, 80px);
    position: relative;
}

.gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(24, 24, 24, 0.92) 0%, rgba(255, 255, 255, 0) 70%);
    z-index: 2;
}
